# =======================
# SYSTEM CONFIG
# =======================
SYSTEM_SERVER: "127.0.0.1"
SYSTEM_ADDR: ":8305"
#debug,release,test
SYSTEM_MODE: debug
SYSTEM_TIME_ZONE: "Asia/Jakarta"

# =======================
# DATABASE CONFIG
# =======================
DB_USERNAME:administrator
DB_PASSWORD:
DB_NAME:XXX
DB_HOST:XXX
DB_PORT:5556
#true,false
DB_DEBUG:true

# =======================
# REDIS CONFIG
# =======================
REDIS_ADDRESS: "127.0.0.1:6379"
REDIS_PASSWORD: "123456"
REDIS_DB: 0
#REDIS_TLS_ENABLED: true # Boolean, Default false.

# =======================
# SMTP CONFIG
# =======================
SMTP_HOST: "smtp.gmail.com"
SMTP_PORT: "587"
SMTP_USERNAME: "email@gmail.com"
SMTP_PASSWORD: "password"
SMTP_FROM: "email@gmail.com"

# =======================
# PASETO Configuration
# =======================
PASETO_ACCESS_SECRET=change-me-to-a-long-random-string
PASETO_REFRESH_SECRET=change-me-to-a-different-long-random-string
PASETO_ACCESS_EXPIRY_MINUTES=15
PASETO_REFRESH_EXPIRY_DAYS=7